:root {
    --blanco: #ffffff;
    --oscuro: #212121;
    --primario: #ffc107;
    --secundario: #00a797;
    --gris: #757575;
}

html {
    font-size: 62.5%;
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    font-size: 16px;
    font-family: 'Krub', sans-serif;
}

h1 {
    font-size: 3.8rem;
}

h2 {
    font-size: 2.8rem;
}

h3 {
    font-size: 1.8rem;
}

.titulo {
    text-align: center;
}

.titulo span {
    font-size: 2rem;
}

.contenedor {
    max-width: 120rem;
    margin: 0 auto;
}

.nav-bg {
    background-color: var(--secundario);
}

.Navegacion-principal {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media(min-width :768px) {
    .Navegacion-principal {
        flex-direction: row;
        justify-content: space-evenly;
    }
}

.Navegacion-principal a {
    color: var(--blanco);
    text-decoration: none;
    font-size: 2rem;
    font-weight: bold;
    padding: 1rem;
}

.Navegacion-principal a:hover {
    background-color: var(--primario);
    color: var(--oscuro);
}

.hero {
    background-image: url(teclado.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 350px;
    padding: 25px;
    position: relative;
}

.contenido-hero {
    position: absolute;
    background-color: rgba(255, 255, 255, 0.11);
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contenido-hero p,
.contenido-hero h2 {
    color: var(--blanco);
}